<div className="card border-danger mb-3">
  <div className="card-header text-white bg-danger">Schedule a Test Drive</div>
  <div className="card-body text-danger">
    <div className="row">
      <Form>
      <div className="col">
        <FormGroup>
          <Input type="text" name="uname" placeholder="Name" />
        </FormGroup>
      </div>
      <div className="col">
        <FormGroup>
          <Input type="email" name="uemail" placeholder="Email" />
        </FormGroup>
      </div>
    </Form>
    </div>
  </div>
</div>
